.div-SobreNos {
    height: calc(100vh - var(--nav-bar-height));
    display: flex;
    text-align: center;
    flex-direction: column;
}
.divtitulo-SobreNos {
    width: 100%;
}
.Span-conteudo {
    padding: 3rem;
    width: 100%;
    flex-direction: row;
    display: flex;
    height: 100%;
}
.span1 {
    flex-direction: column;
    justify-items: center;
    display: flex;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    width: 50%;
    border-radius: 4px;
    height: 100%;
}
.titulo-icon {
    width: 100%;
    margin-bottom: 1rem;
}
#obje {
    color: blue;
}
#visao {
    color: purple;
}
#valor {
    color: magenta;
}
@media screen and (min-width: 300px) {
    .Span-conteudo {
        flex-direction: column;
        width: 100%;
    }
    .div-SobreNos {
        margin-bottom: 5rem;
    }
    .span1 {
        width: 100%;
        padding: 1.3rem;
        margin: 0;
    }
    .div-SobreNos {
        height: calc(150vh - var(--nav-bar-height));
    }
}
@media screen and (min-width: 700px) {
    .Span-conteudo {
        flex-direction: row;
        width: 100%;
    }
    .div-SobreNos {
    margin-top: 5rem;
    }
    #diferencial {
        margin-top: 5rem;
    }
    .span1 {
        width: 100%;
        padding: 2rem;
        margin: 0rem;
    }
    .div-SobreNos {
        height: calc(75vh - var(--nav-bar-height));
    }
}
@media screen and (min-width: 1024px) {
    .Span-conteudo {
        flex-direction: row;
        width: 100%;
    }
    .descricao-icon p {
        font-size: 22px;
    }
    #diferencial {
        margin-top: 3rem;
    }
    .div-SobreNos {
    margin-top: 5rem;
    }
    .span1 {
        width: 100%;
        padding: 2rem;
        margin: 0rem;
    }
    .div-SobreNos {
        height: calc(100vh - var(--nav-bar-height));
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 1450px) {
    .descricao-icon p {
        font-size: 25px;
    }
    .div-SobreNos {
        height: calc(100vh - var(--nav-bar-height));
        margin-bottom: 5rem;
    }
    .titulo-icon h1 {
        font-size: 30px;
    }
    .divtitulo-SobreNos h1 {
        font-size: 30px;
    }
    .Titulo {
        font-size: 30px;
    }
}
@media screen and (min-height: 1000px) {
    .div-SobreNos {
        height: calc(80vh - var(--nav-bar-height));
    }
}