.job-hunt {
  height: 10vh;
}

.land-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 100vh;
  padding-top: calc(var(--nav-bar-height) + 1rem);
  padding-bottom: 1rem;

  background-color: white;
}

.land-section a {
  padding: .5rem .8rem;

  text-decoration: none;
  color: white;
  background-color: #395285;
  border-radius: 8px;
  transition: .4s;
}

.land-section a:hover {
  background-color: #407bff;
  -webkit-box-shadow: 0px 0px 50px 10px #407bff; 
          box-shadow: 0px 0px 50px 10px #407bff;
}

.land-text {
  color: black;
  line-height: 2;
  width: 80vw;
	font-size: 16px;
}

.land-text span {
	color: #407bff;
	font-size: 20px;
	font-weight: bold;
}

.land-illustration {
  max-height: 80%;
}

@media screen and (min-width: 700px) {
  .land-section div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw
  }
  
  .land-section {
    justify-content: space-around;
  }

  .land-text {
    max-width: 40vw;
  }

  .land-illustration {
    max-width: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .land-section {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  
  .land-illustration {
    max-width: 40%;
  }
  .land-section a {
    padding: 1rem 1.6rem;
  }
}