.quem-somos {
    height: calc(100vh - var(--nav-bar-height));
    padding: 2rem;
    padding-top: 4rem;
    display: flex;
}
.div-titulo {
    display: inline-block;
    position: absolute;
    margin-top: -7rem;
    width: 100%;
}
.titulo {
    font-size: 25px;
}
.text-color {
    color: #2E38E8;
}
.imagem {
    max-height: 90%;
}
p {
    font-size: 20px;
}
.div-text {
    text-align: left;
    padding: 2rem;
    width: 65%;
}
.div-image {
    display: flex;
    width: 35%;
}
@media screen and (min-width: 300px) {
    .quem-somos {
        height: calc(100vh - var(--nav-bar-height));
        margin-top: 20vh;
        flex-direction: column;
    }
    .div-titulo {
        text-align: center;
        width: 100%;
        padding-right: 3rem;
    }
    .titulo {
        width: 100%
    }
    .div-text {
        text-align: left;
        width: 100%;
    }
    .div-image {
        display: none;
    }

  }
  @media screen and (min-width: 700px) {
    .quem-somos {
        height: calc(70vh - var(--nav-bar-height));
        margin-top: 5rem;
        flex-direction: column;
    }
    .div-titulo {
        text-align: center;
        width: 100%;
        padding-right: 3rem;
    }
    .titulo {
        width: 100%
    }
    .div-text {
        text-align: left;
        width: 100%;
    }
    .div-image {
        display: none;
    }

  }
  @media screen and (min-width: 1024px) {
    .quem-somos {
        height: calc(100vh - var(--nav-bar-height));
        margin-top: 13rem;
        flex-direction: row;
    }
    .div-image {
        width: 30%;
        height: 50%;
        display: flex;
    }
    .imagem {
        max-height: 100%;
        max-width: 100%;
        display: flex;
    }
    .div-text {
        text-align: left;
        width: 80%;
        height: 90%;
    }
}
