.quem-somos {
    height: calc(100vh - var(--nav-bar-height));
    padding: 2rem;
    flex-direction: column;
    display: flex;
}
.Titulo-QuemSomos {
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.Agrupar-SpansQm {
    flex-direction: row;
    padding: 1rem;
    display: flex;
}
.Texto-QuemSomos {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: flex;
    text-align: left;
    width: 65%;
}
.Texto-QuemSomos p {
    display: block;
    width: 100%;
    font-size: 22px;
}
.Imagem-QuemSomos {
    width: 35%;
}
.Img-QmSomos {
    max-width: 100%;
}
.text-color {
    color: blue;
}
@media screen and (min-width: 300px) {
    .quem-somos {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    .Titulo-QuemSomos {
        margin-bottom: 2rem;
    }
    .Imagem-QuemSomos {
        display: none;
    }
    .Texto-QuemSomos {
        align-items: left;
        margin: none;
        width: 100%;
    }
}
@media screen and (min-width: 700px) {
    .quem-somos {
        height: calc(70vh - var(--nav-bar-height));
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .Titulo-QuemSomos {
        margin-bottom: 2rem;
    }
    .Imagem-QuemSomos {
        display: none;
    }
    .Img-QmSomos {
        max-width: 100%;
    }
    .Texto-QuemSomos {
        align-items: left;
        margin: 0 auto;
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .quem-somos {
        height: calc(100vh - var(--nav-bar-height));
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    .Titulo-QuemSomos {
        margin-bottom: 2rem;
    }
    .Imagem-QuemSomos {
        display: flex;
    }
    .Texto-QuemSomos {
        align-items: left;
        margin: 0 auto;
        width: 65%;
    }
}
@media screen and (min-width: 1450px) {
    .Texto-QuemSomos p {
        font-size: 30px;
    }
    .Titulo-QuemSomos h1 {
        font-size: 30px;
    }
    .quem-somos {
        height: calc(100vh - var(--nav-bar-height));
    }
}
@media screen and (min-height: 1000px) {
    .quem-somos {
        height: calc(80vh - var(--nav-bar-height));
    }
}