@font-face {
    font-family: 'Glacier Indifference';
    src: url('../../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf');
}


nav {
    position: fixed;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-height: var(--nav-bar-height);
    background-color: var(--nav-bar-bg-color);
    z-index: 3;
}

.logo-img {
    width: 10rem;
}

.hamburguer-menu {
    z-index: 3;
}

.invisible-close-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: transparent;
    border: 0;
}


.btn-active {
    display: block;
}

.menu {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: calc(var(--nav-bar-height) - 10px);
    right: -80vw;

    width: 80vw;
    height: calc(100vh - var(--nav-bar-height));

    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(108, 108, 108, 0.515);
    border-radius: 19px 0px 0px 19px;

    transition: .4s;
    z-index: 4;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: 'Glacier Indifference', serif;
    font-size: 20px;
    line-height: 2;
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a p {
    width: 50%;
}

.menu a:hover {
    background-color: var(--color-main);
    color: white;
}

.active {
    right: 0vw; 
}

@media screen and (min-width: 700px){
    .nav-links {
        width: 60%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: .3rem .6rem;
    }

    .contact {
        border-radius: 5px;
    }
    .contact a {
        color: black !important;
    }
}
@media screen and (min-width: 1450px){
    .nav-links li a {
        font-size: 20px;
    }
}