.Principal-NossoProjeto {
    height: calc(100vh - var(--nav-bar-height));
    width: 100%;
}
.Titulo {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.Agrupar-Spans {
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 2%;
    height: 100%;
}
.divs-conteudos {
    margin: 1rem;
    width: 25%;
    height: 90%;
    border: 5px solid rgba(250, 60, 91, 0.863);
    border-radius: 7px;
    text-align: center;
    display: block;
    justify-content: center;
    justify-items: center;
}
.div-foto2 {
    height: 40%;
    width: 100%;
}
.foto-logo {
    width: 40%;
    height: 60%;
    margin-top: 3rem;
}
#logo-wonti {
    width: 55%;
    height:40%;
}
#lupa {
    width: 42%;
    height:63%;
}
.titulo-wonti {
    color: rgba(250, 60, 91, 0.863);
}
.div-descricao {
    width: 100%;
    height: 50%;
    padding: 1rem;
    text-align: center;
}
.paragrafo {
    font-size: 19px;
    margin: 2px;
}
@media screen and (min-width: 300px) { 
    .Agrupar-Spans {
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
    .Principal-NossoProjeto {
        height: calc(160vh - var(--nav-bar-height)); 
        text-align: center;
        padding: 2rem 0 0 0;
        margin-top: 10rem;
        margin-bottom: 18rem;
    }
    .divs-conteudos {
        width: 90%;
        height: 90%;
        margin-top: 0rem;
        text-align: center;
    }
    .div-descricao {

    }
    .Titulo {
        margin-bottom: 10rem;
        margin-top: 5rem;
    }
}
@media screen and (min-width: 700px) { 
    .Agrupar-Spans {
        width: 100%;
        flex-direction: row;
    }
    .Principal-NossoProjeto {
        height: calc(100vh - var(--nav-bar-height)); 
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .divs-conteudos {
        height: 60%;
        padding: 0rem;
    }
    .div-foto2 {
        height: 35%;
    }
    .Titulo {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .foto-logo {
        width: 40%;
        height: 50%;
        margin-top: 3rem;
    }
    #logo-wonti {
        width: 60%;
        height:40%;
    }
    #lupa {
        width: 40%;
        height:60%;
    }
}
@media screen and (min-width: 1024px) { 
    .Agrupar-Spans {
        width: 85%;
        flex-direction: row;
    }
    .Principal-NossoProjeto {
        height: calc(100vh - var(--nav-bar-height)); 
    }
    .paragrafo {
        font-size: 21px;
    }
    .divs-conteudos {
        height: 90%;
        padding: 0;
    }
    .foto-logo {
        width: 40%;
        height: 60%;
        margin-top: 3rem;
    }
    #logo-wonti {
        width: 55%;
        height:40%;
    }
    #lupa {
        width: 42%;
        height:63%;
    }
}
@media screen and (min-width: 1450px) {
    .Agrupar-Spans {
        height: 85%;
    }
    .titulo-wonti {
        font-size: 30px;
    }
    .paragrafo {
        font-size: 23px;
    }
} 