.Principal-NossoProjeto {
    height: calc(100vh - var(--nav-bar-height));
}
.Titulo {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.Agrupar-Spans {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 4vh;
    padding: 0 1rem;
    border-radius: 19px;
}
.card-projeto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    text-align: center;
    height: 66vh;
    padding: 1rem .3rem;
    /* border: 1px solid black; */
    border-radius: 19px;
}

.Texto {
    width: 80% !important;
    height: fit-content;
    margin: auto 0
}

.div-foto {
    text-align: center;
    justify-content:center ;
    display: flex;
}
.Imagem {
    width: 200px;
    height: 200px;

    background-size: contain;

    border-radius: 100px
}
.div-Button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.Button {
    width: 60%;
    height: 40px;
    border: transparent;
    color: white;
    background-color: var(--color-main);
    padding: 2px;
    border-radius: 20px;
    cursor: pointer;
}
.Button:hover {
    background-color: white;
    color: var(--color-main);
    border: 2px solid var(--color-main);
}

.Agrupar-Spans .slider-wrapper {
    max-width: 40rem;
}


@media screen and (min-width: 300px) {
    .Agrupar-Spans {
        flex-direction: row;

    }
    .Texto {
        margin: 0;
    }

    .div-foto {
        width: 200px;
        height: 200px
    }

    .Imagem {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .Imagem {
        border-radius: 100%;
    }
    .div-foto {
        height: 20rem;
        width: 20rem;
    }
    .Agrupar-Spans {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 4vh;
    }
    .Button {
        margin-top: 5vh;
        width: 30%;
    }
}