.Principal-NossoProjeto {
    height: calc(100vh - var(--nav-bar-height));;
}
.Titulo {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.Agrupar-Spans {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 4vh;
    padding: 0 1rem;
}
.card-projeto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 60vh;
    padding: 1rem .3rem;
    border: 1px solid black;
}

.Texto {
    width: 80% !important;
    height: fit-content;
    margin: auto 0
}

.div-foto {
    text-align: center;
    justify-content:center ;
    display: flex;
}
.Imagem {
    width: 200px;
    height: 200px;

    background-size: contain;

    border-radius: 100px
}
.div-Button {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
}
.Button {
    width: 60%;
    height: 50%;
    border: transparent;
    margin-top: 2vh;
    color: white;
    background-color: rgb(250, 23, 69);
    padding: 2px;
    border-radius: 20px;
    cursor: pointer;
}
.Button:hover {
    background-color: white;
    color: rgb(250, 23, 69);
    border: 1px solid black;
}
@media screen and (min-width: 300px) {
    .Agrupar-Spans {
        flex-direction: row;
    }

    .Texto {
        margin: 0;
    }
}
@media screen and (min-width: 1024px) {
    .Imagem {
        max-width: 60%;
        max-height: 100%;
    }
    .div-foto {
        width: 100%;
        height: 65%;
        text-align: center;
        justify-content:center ;
        display: flex;
    }
    .Agrupar-Spans {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 4vh;
    }
    .Button {
        margin-top: 5vh;
        width: 30%;
    }
}