* {
    margin: 0;
    padding: 0;
}
.texto {
    color: rgba(0, 0, 221, 0.884);
}
#Principal-NossaEquipe {
    height: calc(100vh - var(--nav-bar-height));
    width: 100%;
}
.Titulo-Equipe {
    width: 100%;
    display: flex;
}
.Membros {
    height:100%;
    display: flex;
    width: 100%;
    padding: 1rem;
}
.div-foto-equipe {
    width: 40vh;
    padding: 5%;
    height:50vh;
    margin-left: 2rem;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
}
.foto-equipe {
    border: 1px solid black;
    padding: 0.4rem;
    margin-top: 3rem;
    height: 65%;
    width: 100%;
    border-radius: 100%;
    text-align: center;
}
.imagemWon {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    aspect-ratio: 1/1;
}
.redesSociais {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}
.button-rede {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 100%;
    padding: 4px;
    height: 40px; 
    margin: 3px;  
}
.carousel{
    color: black;
    height: 85%;
}
.carousel .control-dots .dot{
    border:3px solid black !important;
    background-color: white !important;
}
.button-rede:hover {
    cursor: pointer;
    opacity: 0.7;
}
.detalhes {
    width: 80%;
    height: 100%;
    padding: 4%;
    text-align: left;
    display: block;
    margin-bottom: 1rem;
}
.button-rede {
    padding: 4px;
}
#manoBrown {
    padding: 4px;
}

.button {
    width: 15%;
    color: blue;
    background-color: white;
    border-color: blue;
    border-radius: 20px;
    height: 5vh;
}
.button:hover {
    opacity: 0.5;
    cursor: pointer;
}
.nomes {
    margin-top: 3vh;
}
@media screen and (min-width: 300px) {
    #Principal-NossaEquipe {
        margin-top: 13rem;
        margin-bottom: 2rem;
        text-align: center;
        height: auto;
    }
    .button-rede {
        width: 6vh;
        height: 6vh;
    }
    .iconsS {
        width: 5vh;
        height: 5vh;
    }
    .Membros {
        flex-direction: column;
        display: flex;
    }
    .div-foto-equipe {
        width: 40vh;
        height: 50vh;
    }
    .detalhes {
        text-align: center;
        width: 100%;
    }
    .funcao {
        text-align: center;
        width: 100%;
        margin-top: -3rem;
    }
    .funcao button{
        margin-top: 1.5rem;
        width: 70%;
        text-align: center;
    }
    .nomes {
        width: 100%;
    }
    .nome-detalhes p {
        text-align: left;
    }
}
@media screen and (min-width: 700px) {
    #Principal-NossaEquipe {
        text-align: center;
        height: auto;
    }
    .Membros {
        flex-direction: column;
        display: flex;
    }
    .button-rede {
        width: 5vh;
        height: 5vh;
    }
    .iconsS {
        width: 4vh;
        height: 4vh;
    }
    .div-foto-equipe {
        width: 40vh;
        height: 50vh;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        justify-items: center;
    }
    .detalhes {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .button {
        height: 4vh;
    }
    .funcao {
        text-align: center;
        width: 100%;
    }
    .funcao button{
        margin-top: 0;
        width: 40%;
        text-align: center;
    }
    .nomes {
        width: 100%;
    }
    .nome-detalhes {
        text-align: center;
        margin-bottom: 2rem;
    }
    .nome-detalhes p {
        text-align: left;
        padding: 1rem;
    }
}
@media screen and (min-width: 1024px) {
    #Principal-NossaEquipe {
        margin-top: -2rem;
    }
    .Membros {
        flex-direction: row;
        margin-top: 2rem;
    }
    .div-foto-equipe {
        width: 40vh;
        padding: 5%;
        height:50vh;
        margin-left: 2rem;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        justify-items: center;
    }
    .button-rede {
        width: 7vh;
        height: 6.5vh;
    }
    .iconsS {
        width: 5vh;
        height: 5vh;
    }
    .nome-detalhes {
        text-align: left;
        margin-bottom: 2rem;
    }
    .nome-detalhes p {
        padding: 0;
        font-size: 22px;
    }
    .button {
        height: 5vh;
    }
    .detalhes {
        width: 80%;
        height: 100%;
        padding: 4%;
        text-align: left;
        display: block;
        margin-bottom: 1rem;
    }
    .funcao {
        margin-top: 1rem;
        text-align: left;
    }
    .funcao button {
        width: 25%;
    }
}
@media screen and (min-width: 1450px) {
    .texto {
        font-size: 30px;
    }
    .detalhes p {
        font-size: 25px;
    }
    .nomes {
        font-size: 32px;
    }
    .button {
        width: 20%;
        height: 5vh;
        font-size: 20px;
    } 
    .div-foto-equipe {
        width: 40vh;
        padding: 5%;
        height:50vh;
        margin-left: 2rem;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        justify-items: center;
    }
}
@media screen and (max-height: 700px) {
    .detalhes {
        margin-top: 2.5vh;
    }
    .button-rede{
        padding: 4px;
    }
}