* {
    margin: 0%;
    padding: 0%;
}
.Principal-NossaEquipe {
    height: calc(100vh - var(--nav-bar-height));
    width: 100%;
}
.Titulo-Equipe {
    width: 100%;
}
.Titulo-Equipe p {
    font-weight: bold;
    font-size: 22px;
}

.team-illustration {
    width: 40vw
}

/*Carrosel cards*/
.Principal-NossaEquipe .carousel-root {
    height: fit-content
}

.Principal-NossaEquipe {
    display: inline-block;
    text-align: center;
}
.texto {
    text-align: center;
    padding: 2vh;
    width: 100%;
    margin-bottom: 4vh;
    color: white;
    background-image: linear-gradient(var(--color-main), #2E38E8) ;
}
.Membros {
    height: auto;
    width: 100%;
    text-align: center;
    display: block;
    padding: 0 1rem;
}
.Fotos {
    width: 200px;
    height: fit-content;
    margin-right: 2vh;
}
.Foto-vitor {
    border-radius: 100%;
    width: 200px !important;
    height: 200px !important;
    margin-top: 1vh;
}
h3 {
    font-size: 18px;
    margin-top: 20px;
}
.Descricao {
    text-align: left;
    width: 72%;
}
.Funcao-div {
    margin-top: 1vh;
    height: auto;
    width: 100%;
}
.Descricao-Equipe {
    margin-top: 1vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 15px;
}
.Funcao {
    background-color: white;
    color: rgb(0, 179, 255);
    border: 1px solid rgb(0, 179, 255);
    border-radius: 15px;
    padding: 2px 20px;
}
.Titulo-Equipe{
    text-align: left;
}
.Redes-Sociais {
    text-align: center;
}
.RedeSocial {
    margin: 1vh;
    padding: 1vh;
    border-radius: 7px;
    background-color: white;
    color: black;
}
#Linkedin {
    color: rgb(0, 179, 255);
}
#Linkedin:hover {
    cursor: pointer;
    font-size: 14px;
    box-shadow: 2px 3px 5px #407bff; 
}
#Github:hover {
    cursor: pointer;
    font-size: 14px;
    box-shadow: 2px 3px 5px black; 
}
#E-mail:hover {
    cursor: pointer;
    font-size: 14px;
    box-shadow: 2px 3px 5px #407bff; 
}
.Funcao:hover {
    cursor: pointer;
    font-size: 14px;
    box-shadow: 2px 3px 5px #407bff; 
}
.Setas {
    margin-top: 3vh;
}
.Botoes {
    height: 35px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
@media screen and (max-width: 380px) {
    .Foto-vitor {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 700px) {
    .Foto-vitor {
        width: 200px;
        height: 200px;
    }
    .Fotos {
        height: 200px;
    }
    .Principal-NossaEquipe {
        margin-top: -10vh;
    }
    .Membros {
        display: flex;
        flex-direction: row;
        padding: 0 1rem
    }
}
@media screen and (min-width: 1024px) {
    .Foto-vitor {
        max-width: 250px;
        max-height: 200px;
    }
    .Principal-NossaEquipe {
        margin-top: 5vh;
    }
}

.dot {
    border: 2px solid black;
    box-shadow: none !important;
}