.Principal-Contato {
    height: calc(100vh - var(--nav-bar-height));
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.Titulo-Contato {
    width: 100%;
    height: 3vh;
    text-align: center;
}
.Principal-Formulario {
    width: 100%;
    text-align: left;
    display: block;
}
.formulario {
    padding: 3vh;
}
.Nome {
    padding: 1vh;
    width: 60%;
    margin-right: 2vh;
    border-radius: 7px;
    border:2px solid #2E38E8;
    margin-top: 2vh;
}
.Email {
    border-radius: 7px;
    padding: 1vh;
    width: 60%;
    border:2px solid #2E38E8;
    margin-top: 2vh;
}
.Contato-Tipo{
    margin-top: 3vh;
}
.Assunto {
    padding: 1vh;
    margin-top: 2vh;
    width: 55%;
    border-radius: 7px;
    border:2px solid #2E38E8;
}
.Text-Box {
    border:2px solid #2E38E8;
    margin-top: 2vh;
    width: 50%;
    height: 15vh;
    padding: 6px;
    border-radius: 5px;
}
.button-form {
    display: block;
    text-align: center;
    width: 15vh;
    margin-top: 5vh;
    height: 5vh;
    border-radius: 8px;
    color: white;
    border: transparent;
    background-color: #2E38E8;
}
@media screen and (min-width: 300px) {
    .Principal-Contato{
        margin-top: 15vh;
    }
    .formulario {
        padding: 1rem;
    }

    .Nome {
        width: 100%;
    }
    .Email {
        width: 100%;
    }
    .Assunto {
        width: 100%;
    }
    .Text-Box {
        width: 100%;
        height: 10vh;
    }
}
@media screen and (min-width: 1024px) {
    .Principal-Contato {
        margin-top: 30vh;
    }
    .Nome {
        width: 60%;
    }
    .Email {
        width: 60%;
    }
    .Assunto {
        width: 50%;
    }
    .Text-Box {
        width: 60%;
        height: 15vh;
    }
}
@media screen and (min-width: 700px) {
    .Nome {
        width: 70%;
    }
    .Email {
        width: 70%;
    }
    .Assunto {
        width: 70%;
    }
    .Text-Box {
        width: 70%;
        height: 15vh;
    }
    .button-form {
        width: 20vh;
        height: 7vh;
    }
}
@media screen and (min-width: 1450px) {
    .Titulo-Contato h1{
        font-size: 30px;
    }
    .Contato-Tipo {
        font-size: 23px;
    }
    .button-form {
        font-size: 23px;
    }
    .Assunto {
        height: 6vh;
    }
    .Email {
        height: 6vh;
    }
    .Nome {
        height: 6vh;
    }

}