.App {
  text-align: center;
  position: relative;
  overflow-x: hidden;

}

.job-hunt {
  height: 40vh;
}

.land-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: calc(100vh - 3.5rem);
  padding: 1rem 0 1rem 0;
  margin-top: 3.5rem;

  background-color: #282c34;
}

.land-section a {
  padding: .5rem .8rem;

  text-decoration: none;
  color: white;
  background-color: #395285;
  border-radius: 8px;
  transition: .4s;
}

.land-section a:hover {
  background-color: #28a177;
  -webkit-box-shadow: 0px 0px 50px 10px #28A177; 
          box-shadow: 0px 0px 50px 10px #28A177;
}

.land-text {
  color: #f0f0f0;
  line-height: 2;
  width: 80vw;
}

.land-illustration {
  max-width: 80%;
}

@media screen and (min-width: 700px) {
  .land-section {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .land-text {
    max-width: 60vw;
  }

  .land-illustration {
    max-width: 50%;
    max-height: 70vh
  }
}

@media screen and (min-width: 1125px) {
  .land-section {
    gap: 2rem;

    padding: .5rem 0 .5rem 0;
  }
  
  .land-text {
    font-size: 20px;
  }
  .land-section a {
    font-size: 22px;
    padding: .9rem 1.5rem;
  }
}

@media screen and (max-width: 1354px) {
  .land-text {
    max-width: 50%;
  }
}