.Principal-NossoAplicativo {
    height: calc(100vh - var(--nav-bar-height));
    width: 100%;
    margin-top: 10rem;
}
.Span-NossoAplicativo {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left:  2rem;
}
.Nosso-Aplicativo-texto {
    width: 50%;
    height: 100%;
    padding: 3rem;
}
.Nosso-Aplicativo-texto h3 {
    color: rgb(240, 92, 116);
    font-size: 23px;
}
.Nosso-Aplicativo-texto h1 {
    font-size: 32px;
}
.Imagens-Celular {
    width: 60%;
    height: 100%;
}
.prg-span {
    width: 40%;
    display: inline-block;
    margin-top: 1rem;
    margin-right: 5%;
}
.txt-aplicativo {
    font-size: 13px;
    margin-top: 1rem;
}
.textos-span {
    display: flex;
}
#button-obter {
    margin-top: 2rem;
    color: white;
    display: block;
    background-color: rgb(240, 92, 116);
    padding: 3px;
    width: 30%;
    border-radius: 20px;
    height: 40px;
    border: transparent;
}
#button-obter:hover {
    background-color: black;
    border:1px solid white;
    cursor: pointer;
    color: white;
    transition: 1s;
}
#link-chato {
    font-style:none;
    text-decoration: none;
    border: transparent;
}
.Imagens-Celular {
    background: url('../../assets/fundoNossoAplicativo.png') no-repeat right
}
#celulares {
    width: 100%;
    height: 100%;
    background: url('../../assets/Celular_nossoAplicativo.png') center no-repeat;
    background-size:60% 80%
}
@media screen and (min-width: 300px) {
    .Principal-NossoAplicativo {
        margin-top: 20rem;
        margin-bottom: 15rem;
    }
    .Span-NossoAplicativo {
        flex-direction: column;
    }
    .Nosso-Aplicativo-texto h3 {
        color: rgb(240, 92, 116);
        font-size: 23px;
        width: 100%;
    }
    .Nosso-Aplicativo-texto {
        width: 100%;
    }
    .Imagens-Celular {
        display: none;
    }
    .prg-span {
        width: 100%;
    }
    #button-obter { 
        width: 60%;
        text-align: center;
    }
}
@media screen and (min-width: 700px) {
    .Principal-NossoAplicativo {
        margin-top: 5rem;
        margin-bottom: 5rem;
        height: calc(75vh - var(--nav-bar-height)); 
    }
    .Span-NossoAplicativo {
        flex-direction: column;
    }
    .Nosso-Aplicativo-texto {
        width: 100%;
    }
    .Imagens-Celular {
        display: none;
    }
    #button-obter {
        width: 40%;
    }
    .prg-span {
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .Principal-NossoAplicativo {
        margin-top: 10rem;
        margin-bottom: 15rem;
        height: calc(100vh - var(--nav-bar-height)); 
    }
    .Span-NossoAplicativo {
        flex-direction: row;
    }
    .Nosso-Aplicativo-texto {
        width: 50%;
    }
    .Imagens-Celular {
        display: flex;
    }
    #button-obter {
        width: 35%;
        height: 5vh;
    }
    .prg-span {
        width: 40%;
    }
    .Nosso-Aplicativo-texto h3 {
        font-size: 23px;
    }
    .Nosso-Aplicativo-texto h1 {
        font-size: 30px;
    }
    .Nosso-Aplicativo-texto p {
        font-size: 17px;
    }
}
@media screen and (min-width: 1450px) {
    .Nosso-Aplicativo-texto h3 {
        font-size: 28px;
    }
    .Nosso-Aplicativo-texto h1 {
        font-size: 35px;
    }
    .Nosso-Aplicativo-texto p {
        font-size: 21px;
    }
    .prg-span p {
        font-size: 16px;
    }
    .Imagens-Celular {
        width: 60%;
        height: 90%;
    }
    #button-obter {
        font-size: 20px;
        width: 40%;
    }
}
@media screen and (min-height: 900px) {
    .Principal-NossoAplicativo  {
        height: calc(80vh - var(--nav-bar-height));
    }
}
@media screen and (max-height: 700px) {
    .Principal-NossoAplicativo {
        margin-top: 30rem;
        margin-bottom: 23rem;
    }
}
